@using Models
@if (entries != null)
{
    <div class="container">
        <div class="row" style="margin-bottom: 12px;">

            @foreach (var entry in entries)
            {
                if(entry != null)
                {
                     <div class="col-md-6" style="padding-top:12px;">
                    <MudCard Class="mud-theme-primary">
                        <MudCardHeader Style="padding-bottom: 3px;">

                            <CardHeaderContent>
                                <MudText>
                                    @entry.StartingDate?.ToString("MM/yyyy") - @(entry.EndingDate == null ? "jetzt" : entry.EndingDate?.ToString("MM/yyyy"))
                                </MudText>
                                <MudText>@entry.Subject</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudDivider Style="height:2px;" Class="MudDividerClass" />
                        <MudCardContent Style="padding-top: 3px;">
                            <div class="container" style="padding-left:0px; padding-right:0px;">

                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-6">
                                        <MudText Typo="Typo.button">Kunde:</MudText>
                                        <MudText Typo="Typo.body2">@entry.Customer</MudText>
                                    </div>
                                    <div class="col-6">
                                        <MudText Typo="Typo.button">Rolle:</MudText>
                                        <MudText Typo="Typo.body2">@entry.Role</MudText>
                                    </div>
                                </div>
                                <MudDivider Class="MudDividerClass" />
                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-12">
                                        <MudText Typo="Typo.button">Benutzte Technologien:</MudText>
                                    </div>
                                    @foreach (var tech in entry.UsedTechnologies)
                                    {
                                        <div class="col-6">
                                            <MudText Typo="Typo.body2">@tech</MudText>
                                        </div>
                                    }
                                </div>
                                <MudDivider Class="MudDividerClass" />
                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-12">
                                        <MudText Typo="Typo.button">Aufgabenbereich</MudText>
                                    </div>
                                    <div class="col-12">
                                        <MudText Typo="Typo.body2">@entry.DescriptionTitle</MudText>
                                    </div>
                                    <div class="col-12">
                                        <ul style="margin-left: 15px;margin-bottom: 0px; padding: 0; list-style:circle;">
                                        @foreach (var description in entry.DescriptionPoints)
                                        {
                                            <li>
                                                <MudText Typo="Typo.body2">@description</MudText>
                                            </li>
                                        }
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </MudCardContent>
                    </MudCard>
                </div>
                }
               
            }
        </div>
    </div>
}


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public List<ProjectHistoryEntry>? entries { get; set; }
}
