@using Models
@if (entries != null)
{
    <div class="container">
        <div class="row" style="margin-bottom: 12px;">

            @foreach (var entry in entries)
            {
                <div class="col-md-6" style="padding-top:12px;">
                    <MudCard Class="mud-theme-primary">
                        <MudCardHeader>

                            <CardHeaderContent>
                                <MudText>
                                    @entry.StartingDate - @(entry.EndingDate == null ? "jetzt" : entry.EndingDate)
                                </MudText>
                                <MudText>@entry.Subject</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="container" style="padding-left:0px; padding-right:0px;">

                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-6">
                                        <MudText Typo="Typo.button">Kunde:</MudText>
                                        <MudText Typo="Typo.body2">@entry.Customer</MudText>
                                    </div>
                                    <div class="col-6">
                                        <MudText Typo="Typo.button">Rolle:</MudText>
                                        <MudText Typo="Typo.body2">@entry.Role</MudText>
                                    </div>
                                </div>
                                <MudDivider /><br />
                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-12">
                                        <MudText Typo="Typo.button">Benutzte Technologien:</MudText>
                                    </div>
                                    @foreach (var tech in entry.UsedTechnologies)
                                    {
                                        <div class="col-6">
                                            <MudText Typo="Typo.body2">@tech</MudText>
                                        </div>
                                    }
                                </div>
                                <MudDivider /><br />
                                <div class="row" style="padding-left:0px; padding-right:0px;">
                                    <div class="col-12">
                                        <MudText Typo="Typo.button">Aufgabenbereich</MudText>
                                    </div>
                                    <div class="col-12">
                                        <MudText Typo="Typo.body2">@entry.DescriptionTitle</MudText>
                                    </div>
                                    <div class="col-12">
                                        <ul style="margin-left: 15px;margin-bottom: 0px; padding: 0; list-style:circle;">
                                        @foreach (var description in entry.DescriptionPoints)
                                        {
                                            <li>
                                                <MudText Typo="Typo.body2">@description</MudText>
                                            </li>
                                        }
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </MudCardContent>
                    </MudCard>
                </div>
            }
        </div>
    </div>
}


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public List<ProjectHistoryEntry>? entries { get; set; }
}
